.AboutScreen-container {
    height: 100vh;
    width: 98.6vw;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.57);
    object-fit: contain;
    max-height: 650px;
}

.AboutScreen-container {
    color: #fff;
    padding-top: 30px;
    max-width: 55%;
    text-align: center;
    margin: auto;
    text-align: left;
    object-fit: contain;
}

.contactMe-form {
    display: grid;
    flex-direction: column;
}

.contactMe-form input,
.contactMe-form textarea {
    padding: 5px 15px;
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border: none;
    border-radius: 8px;
    max-width: 100%;
}

.contactMe-form textarea {
    height: 100px;
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.contactMe-form button {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    border: none;
    background-color: #e50914;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 4px
}

.AboutScreen-container>p {
    margin-bottom: 10px;
    max-width: 100%
}

.contactMe-form label {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px
}

.contactMe-form input::placeholder,
.contactMe-form textarea::placeholder {
    color: rgb(163, 155, 155);
    font-weight: 400;
    font-size: 0.8em;
}

.contactMe-form textarea::placeholder {
    padding-top: 10px
}

.popup-aboutScreen {
    margin-top: 10px
}

.title-aboutScreen {
    text-align: center;
    margin-top: 10px
}

.success-icon-aboutScreen {
    position: relative;
    left: 35%;
    height: 30%;
    width: 30%;
    margin-top: 10px
}

#messageAgain-popup-btn {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #e50914;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    width: 100%
}

.description-aboutScreen {
    text-align: center;
    margin-top: 10px
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeout {
    -webkit-animation: fadeout 0.5s;
    animation: fadeout 0.5;
}

.center-email-block {
    position: relative;
    left: 50%;
    top: 28%
}