.SearchScreen {
    width: 100vw;
    height: 100vh;
}

.search--results-container {
    position: relative;
    width: 80%;
    top: 100px;
    margin: auto;
    text-align: center;
    color: white;
}

.search--results-container p {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 15px;
}

.search--results-container input {
    width: 80%;
    margin-top: 20px;
    border-radius: 6px;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 250px
}