.profile-screen {
    /* height: 100vh; */
    margin-bottom: 40px;
    color: white;
}

.profileS-body {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 100vh;
    flex-direction: column;
    padding-top: 12%;
    max-width: 800px;
}

.profileS-inform {
    display: flex;
    margin-top: -90px
}

.profileS-inform img {
    height: 100px;
    width: 100px;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    object-fit: cover;
}

.profileS-body h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid#282c2d;
    margin-bottom: 20px
}

.profileS-details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileS-details h2 {
    background-color: grey;
    padding: 15px 20px;
    font-size: 15px;
    padding-left: 20px;
}

.btn-signOut {
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    color: white;
    background-color: #e50914;
    margin-top: 5%;
    border: none;
    cursor: pointer;
    border-radius: 5px
}

.btn--subscribe--enter {
    padding: 5px 20px;
    font-size: .9rem;
    width: 30%;
    min-width: 100px;
    color: white;
    background-color: #e50914;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn--subscribe--enter:hover {
    background-color: rgb(155, 29, 29)
}

.increase-btn-width-pfp {
    width: 100%
}

.profileS-subscribe h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
    font-size: 1rem;
    text-align: left;
    font-weight: 600
}

.profileS-subscribe {
    margin-top: 20px;
}

.subscription--renewal,
.subscription--title {
    font-size: 15px;
    font-weight: 250;
}

.subscription--renewal {
    margin-top: -20px;
}

.subscription--info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.first--div {
    /* padding-top: 20px */
    margin-top: 20px
}

.informational--div {
    visibility: hidden;
    opacity: 0;
    fill: transparent;
    width: 150px;
    height: 85px;
    /* overflow: hidden; */
    position: relative;
    left: -190px;
    top: 3px;
    border: 2px solid white;
    border-radius: 5px;
}

.show-info-div {
    visibility: visible;
    opacity: 1;
    transition-timing-function: ease;
    transition: all 1s ease;
    transition: visibility 1s, opacity 1s
}

.hide-info-div {
    visibility: hidden;
    opacity: 0;
    transition-timing-function: ease;
    transition: all 1s ease;
    transition: visibility 1s, opacity 1s
}

.informational--div::after {
    content: " ";
    width: 2px;
    height: 2px;
    border-top: 10px solid transparent;
    border-left: 10px solid white;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -10px
}

.info-div-info {
    font-size: 18px;
    text-align: center;
    padding: 10px
}

.edit-title {
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom: 1px solid#282c2d;
    /* text-align: center; */
}

.username-change {
    width: 95.3%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px
}

.buttons--edit-div {
    display: flex;
    justify-content: center;
    margin-bottom: 20px
}

.createSpace-between {
    margin-right: 20px
}

.edit--imageProfile--btnDiv {
    display: flex;
    justify-content: center;
}

.edit-div-buttons-func {
    margin-top: 10px
}

.edit--profile-picture-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-a-nice-weekend-Ye-SHEBAB {
    background-color: #111;
    width: 50%;
    height: auto;
    border-radius: 5px;
    z-index: 5;
}

.edit--profile-picture-modal p {
    /* width: 100%; */
    text-align: center;
    color: white
}

.cam-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15%;
    height: 70%;
    width: 70%;
    object-fit: contain;
    overflow: hidden;
    border: 1px solid grey
}

.camera--icon-edit {
    position: relative;
    width: 100px;
    height: 100px
}

.profileImage-edit {
    margin-top: -20px;
    object-fit: contain;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.cancel-button-div-edit {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px
}

.edit-profile-img-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px
}

.error-message-edit {
    color: red
}