.register-logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 40px;
    padding-top: 20px;
    cursor: pointer;
}

.RegisterScreen {
    position: relative;
    height: 100%;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg') center no-repeat;
    background-size: cover
}

.register-button {
    position: fixed;
    padding: 10px 20px;
    right: 40px;
    color: white;
    font-size: 1rem;
    top: 20px;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5%
}

.register-gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
    z-index: 1;
    height: 100vh;
}

.register-body {
    position: absolute;
    top: 30%;
    z-index: 1;
    color: #fff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}

.register-body>h1 {
    font-size: 3.125rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px
}

p {
    font-size: 1.3rem;
    font-weight: 400;
}

.RegisterTextF>form>input[type='email'] {
    /* margin-bottom: 10px; */
    padding: 10px;
    outline-width: 0;
    height: 30.12px;
    width: 30%;
    border: none;
    max-width: 600px;
}

.registerGetStarted {
    margin-top: 10px;
    padding: 14px 20px 18px 20px;
    font-size: 1rem;
    font-weight: 600;
    background-color: #e7131e;
    color: white;
    border: none;
    cursor: pointer;
}

.RegisterTextF {
    margin: 20px
}

.registerGetStarted a {
    text-decoration: none;
    color: white;
}