.WatchScreen--player {
    height: 100vh;
    width: 98.9vw;
    z-index: 1;
}

.movie--player {
    height: 100vh;
    width: 98.9vw;
    cursor: pointer;
    z-index: 1;
}

.yt-panel-cover {
    object-fit: contain;
    position: relative;
    bottom: 35px;
    background-color: #111;
    height: 70px;
    width: 100%;
    z-index: 5;
    display: flex
}

.WatchScreen-movie-title {
    color: white;
    object-fit: contain;
    position: relative;
    top: 15px;
    left: 35px;
    margin-right: 100px;
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* so that the nav bar can fade away so that the user can view the video/movie/series without any distractions 

(note: bring back the name after the users mouse moves when the nav has already faded out !work on it!)*/

.fadeOut {
    -webkit-animation: fadeOut 20s;
    animation: fadeOut 20s
}

.hidden {
    opacity: 0;
}

.place-return-btn {
    position: relative;
    top: 15px
}