.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 20px;
    height: 30px;
    z-index: 1;
    /**/
    transition-timing-function: ease-in;
    transition: all 0.5s
}

.nav-black {
    background-color: #111
}

.Nav-logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
}

.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}

.search-avatar {
    position: fixed;
    right: 70px;
    width: 20px;
    top: 25px;
    animation: fadein 1.1s linear
}

.search-avatar-container {
    transition-timing-function: ease-in;
    position: fixed;
    right: 100px;
    /* this right property sets the div's margin on the right 0 so if you edit the width the width will stretch left since there is no space for it to stretch right && vice versa if you set the left property the div will stretch right if the width changes since there is no space for it to stretch on the right side*/
    top: 20px;
    height: 30px;
    width: 0px;
    background-color: white;
    border-radius: 20px;
    transition: width 2s;
    transition: all 1s ease;
    cursor: pointer;
}

.search--submit {
    margin-left: 198px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: fixed;
    top: 22.4px;
    right: 103px;
    display: block;
    z-index: 20;
    border: none;
    background-color: rgb(108, 228, 108);
    color: white;
    cursor: pointer;
    animation: unHide 1.5s linear;
    text-align: center;
    font-weight: bold;
    font-size: 15px
}

.search--div--inputBox {
    width: 230px;
    background-color: white;
}

.search--field {
    border: none;
    position: fixed;
    right: 139px;
    top: 21px;
    padding: 7px;
    animation: unHide 1s linear;
    z-index: 1
}

.search--field:focus {
    outline: 0
}

.hide-img {
    /* animation: hideContent 1s ease; */
    display: none;
}

@keyframes unHide {
    0% {
        opacity: 0
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}


/* @keyframes hideContent {
    0% {
        opacity: 1
    }
    50% {
        opacity: 1
    }
    99% {
        opacity: 0;
    }
    100% {
        display: none;
    }
} */

.divS--search-icon {
    width: 20px;
    position: fixed;
    right: 305px;
    top: 25px;
    cursor: pointer;
    animation: unHide 1.5s linear;
}

.nav-link {
    position: relative;
    left: 85px;
    top: -12px;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(185, 184, 184);
    cursor: pointer;
}

.activeNav {
    color: white
}

.nav-link:hover {
    color: white;
    -webkit-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    transition: color 300ms linear
}