.signInScreen {
    max-width: 300px;
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 0, 0.85)
}

.signInScreen>form {
    display: grid;
    flex-direction: column;
}

.signInScreen>form>input {
    padding: 5px 15px;
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border: none;
    border-radius: 8px;
}

.signInScreen>form>button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #e50914;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px
}

.signInScreen>form>h1 {
    text-align: left;
    margin-bottom: 20px
}

form>h4 {
    text-align: left;
    margin-top: 30px
}

.newToNet {
    color: grey;
    text-align: left
}

.signUp4net:hover {
    cursor: pointer;
    text-decoration: underline
}


/*spinner*/

.preloader::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 8px solid red;
    border-top-color: transparent;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

.error {
    color: red;
    margin-bottom: 10px;
    font-size: 15px;
    text-align: left;
}